@font-face {
  font-family: "Gilroy Sans";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #434343;
  font-size: 1.2rem;
  line-height: 2;
  overflow-x: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Gilroy Sans", sans-serif;
  line-height: 1.5;
}
body h2 {
  font-size: 2.75rem;
}
body h4 {
  font-size: 1.75rem;
}

.siteheader {
  background: white;
}
.siteheader .siteheader-logo {
  font-size: 1.75rem;
  font-family: "Gilroy Sans", sans-serif;
  font-weight: 900;
  color: #434343;
}
.siteheader .siteheader-logo .highlight {
  color: #3DDC84;
}
.siteheader .siteheader-navbar .nav-link {
  font-size: 1.25rem;
  font-family: "Gilroy Sans";
  font-weight: 900;
  color: #434343;
}
.siteheader .siteheader-navbar .nav-link.aww-underline {
  position: relative;
  z-index: 2;
}
.siteheader .siteheader-navbar .nav-link.aww-underline::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  left: 0.2rem;
  right: 0.2rem;
  height: 1em;
  z-index: -1;
  opacity: 0.5;
  background-image: url("../img/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main .masthead-container {
  min-height: 100%;
}
main .masthead-container .masthead {
  height: 100%;
  padding-top: 15rem;
}
main .masthead-container .masthead .aww-underline {
  position: relative;
}
main .masthead-container .masthead .aww-underline::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  right: 0;
  height: 2.5rem;
  z-index: -1;
  opacity: 0.5;
  background-image: url("../img/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .masthead-container .masthead .sponsors-container {
  padding-top: 10rem;
}
main .masthead-container .masthead .sponsors-container img {
  padding: 2rem 0;
}
main .masthead-container .masthead .masthead-link {
  font-size: 1.25rem;
  font-family: "Gilroy Sans";
  font-weight: 900;
  text-decoration: none;
  color: #434343;
  position: relative;
}
main .masthead-container .masthead .masthead-link::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  right: 0;
  height: 1.5rem;
  z-index: -1;
  opacity: 0.5;
  background-image: url("../img/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .content-container {
  padding: 10rem 0;
}
main .content-container .partners-layout span {
  margin: 0.5rem 0;
}
main .content-container .caption {
  font-size: 1.2rem;
  color: #3DDC84;
  font-weight: 600;
  font-family: "Gilroy Sans", sans-serif;
}
main .content-container .faqitem {
  margin: 1rem 0;
  cursor: pointer;
}
main .content-container .faqitem img {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 1rem 0.5rem 1rem;
  transition: transform 0.2s ease;
}
main .content-container .faqitem img.flipped {
  transform: rotate(-180deg);
}
main .content-container .branded {
  color: #3DDC84;
}
main .content-container .highlight {
  color: #434343;
  position: relative;
}
main .content-container .highlight::after {
  content: "";
  position: absolute;
  bottom: -0.33rem;
  left: 0;
  right: 0;
  height: 1.5rem;
  z-index: -1;
  opacity: 0.5;
  background-image: url(../img/underline.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
